@import "tailwindcss";
@plugin "daisyui" {
  exclude: ["properties"];
}

button:focus-visible,
a:focus-visible,
input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: 2px solid #2563eb;
  outline-offset: 2px;
}
